body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(80deg, #fdfbfb 70%, #3f51b5 50%);
}
h2 {
  font-size: 4vw;
  color: #03a9f4;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  font-weight: bold;
  font-size: 3vw;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

button {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  width: 170px;
  height: 42px;
  border: 1px solid #0286c2;
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  color: #0286c2;
  transition: .4s ease;
}

button:hover {
  background-color: #e4f6ff;
}

.buttons {
  width: 345px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
